<div>
  <input [(ngModel)]="id" placeholder="Enter Student Id" type="number"><br>
  <button (click)="search(id)">Search</button>
</div>
<div *ngIf="searchObj!=null">
  <table>
        <tr>
          <th>Id</th><th>student Name</th><th> mobile</th><th>address</th>
        </tr>
        <tr>
          <td>{{searchObj.Id}}</td>
          <td>{{searchObj.studName}}</td>
          <!-- <td>{{searchObj.ordered}}</td> -->
          <td>{{searchObj.mobile}}</td>
          <td>{{searchObj.address}}</td> 
         </tr>
      </table>
</div>
<div *ngIf="searchObj==null"><h4>student Not Found</h4></div>
